.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 0;
  grid-gap: 20px;
  align-items: start; /* Align items to the top */
  grid-auto-flow: dense; /* Use dense keyword for masonry layout */
}

.tile {
  position: relative;
  overflow: hidden;
  height: auto;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.tile:hover img {
  transform: scale(1.1);
}
