.container {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tile {
  margin: 10px;
  width: 100%;
  max-width: 250px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.tile:hover img {
  transform: scale(1.1);
}
