.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px; /* Set the gap between images */
  grid-auto-rows: 200px; /* Set the height of each row to a fixed value */
  grid-column-gap: 20px; /* Set the gap between columns equal to gap between images */
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tile {
  position: relative;
  overflow: hidden;
  height: auto;
}

.tile img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.tile:hover img {
  transform: scale(1.1);
}
